.App {
  text-align: center;
  background-image: url("./images/learnBG.jpg");
  /*
 
  /*taustakuva peittää koko näytön tällä */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: scroll;

 
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.question {
  align-items: center;
  border: 2px solid black;
  width: 20%;
  padding: 5px;
}
.animate {
  width: 25px;
  height: 25px;
  /*nimetään animaation + kesto*/
  animation-name: fieldsAnimate;
  animation-duration: 5s;
}

@keyframes fieldsAnimate {
  /*aloitusväri*/
  from {background-color:blue;}
  /*lopetusväri ja paluu alkuperäiseen*/
  to {background-color: black;}
}
.correct {
  color: #6fed78
}
.wrong {
  color:#fa4d53
}

.translatedQuestion {
  align-items: center;
  border: 2px solid green;
  width: 20%;
  padding: 5px;
}
.answers {
  border:  2px dotted black;
  padding: 10 px;
  position: absolute;
  top:200px
}
.visualDiv {
  position: absolute;
  top:275px;
  font-weight: bold;
  color: #c1d6d1
}
/*divin inputit oikealle*/
.visualDiv input{
  float:right;
  text-indent:10px;
  margin-left: 5px;
}
.visualDiv label {
  float: left;
}
.saveBtn {
  position: absolute;
  top: 330px;
  left:1px
}
.continueBtn {
  position: absolute;
  top:370px;
  left:1px;
}

.saveScores {
  position: absolute;
  top:410px;
  left:1px;

}
/*inline-blokeilla saadaan language & translatebtn tasattua samalle linjalle*/
.language {
  display:inline-block;
  margin-right:10px;
 
}
.translateBtn {
  display:inline-block;
}
.userInput {
  margin-right: 10px;

}

.flex-container {
  display: flex;
  justify-content: center;

 
}
.flex-containerWI {
  display: flex;
  justify-content: center;
 
}
.options {
  display: flex;
  justify-content: center;
}
/*tyhjää tilaa painikkeiden väliin*/
.speechBtns1,.speechBtns2,.inputBtnDiv,.microphone {
  margin-right: 10px;
}
.feedback {
  font-weight: bold;
  font-size: large;
}
/*helperimage on 4 sek mittainen rotateImage niminen animaatio (animation-duration)
jossa näytettävä kuva kallistetaan 0-45-90-180-0 asteisiin*/
.helperImage {
  
  animation-name: rotateImage;
  animation-duration: 4s;
  animation-direction:normal;
}
@keyframes rotateImage {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(45deg);}
  50%  {transform: rotate(90deg);}
  75%  {transform: rotate(180deg);}
  100% {transform: rotate(360deg);;}
}

.helperImageRestart {
  
  animation-name: rotateImage2;
  animation-duration: 4s;
  animation-direction:normal;
 
}
@keyframes rotateImage2 {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(45deg);}
  50%  {transform: rotate(90deg);}
  75%  {transform: rotate(180deg);}
  100% {transform: rotate(360deg);;}
}

.carouselDiv {
  margin: 10%;
}
.slider {
  accent-color: red;
}
.comWords {
  color:black;
  border: 1px solid #26eddd;
  width: 10%;
  font-weight: bold;
}
.comWordBtn {
  position: relative;
  left: 275px;
  top:-32px;
}
.scoreSpan {
  position: relative;
  left:275px;
  top:-750px;

}

.hideImgSpan {
  position: relative;
  left: 180px;

}
.grayImage {
  filter: grayscale(1);
}
.comwordsP {
  display: flex;
  justify-content: center;
  
}

/*imgCB:n label ja div elementtien asettelu*/
.imgCB label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
  font-weight: bold;
}
.imgCB input {
  vertical-align: middle;
}
.imgCB label span {
  vertical-align: middle;
}
.repeat {
  margin-left: 5px;
}
