.App {
  text-align: center;
  background-image: url("./images/learnBG.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.question {
  align-items: center;
  border: 2px solid black;
  width: 20%;
  padding: 5px;
}
.animate {
  width: 25px;
  height: 25px;
  /*nimetään animaation + kesto*/
  animation-name: fieldsAnimate;
  animation-duration: 5s;
}

@keyframes fieldsAnimate {
  /*aloitusväri*/
  from {background-color:blue;}
  /*lopetusväri ja paluu alkuperäiseen*/
  to {background-color: black;}
}
.correct {
  color: green;
}
.wrong {
  color:red;
}

.translatedQuestion {
  align-items: center;
  border: 2px solid black;
  width: 20%;
  padding: 5px;
}
.answers {
  border:  2px dotted black;
  padding: 10 px;
  position: absolute;
  top:200px
}
.visualDiv {
  position: absolute;
  top:275px;
  font-weight: bold;
}
/*divin inputit oikealle*/
.visualDiv input{
  float:right;
  text-indent:10px;
  margin-left: 5px;
}
.saveBtn {
  position: absolute;
  top: 330px;
  left:1px
}
/*inline-blokeilla saadaan language & translatebtn tasattua samalle linjalle*/
.language {
  display:inline-block;
  margin-right:10px;
 
}
.translateBtn {
  display:inline-block;
}
.userInput {
  margin-right: 10px;

}

.flex-container {
  display: flex;
  justify-content: center;

 
}
.flex-containerWI {
  display: flex;
  justify-content: center;
 
}
.options {
  display: flex;
  justify-content: center;
}
/*tyhjää tilaa painikkeiden väliin*/
.speechBtns1,.speechBtns2,.inputBtnDiv,.microphone {
  margin-right: 10px;
}


